@{
    ViewBag.Title = "Performance Management System";
    Layout = "~/Views/Shared/UserManagementLayout.cshtml";
}

<h2>User account processed</h2>

<table class="form" border="0" cellpadding="0" style="width:100%">
    <tbody>
        <tr>
            <th class="header">@ViewBag.Heading</th>   
        </tr>
        <tr class="spacer"><td>&nbsp;</td></tr>
        <tr class="spacer"><td>&nbsp;</td></tr>
         <tr>
            <th>@ViewBag.Detail</th>   
        </tr>
    </tbody>
</table>
